/* only small desktops */
/* tablets */

@media (min-width: 900px) and (max-width: 1920px) {

.logo_main img {
    width: 280px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}
	
.heading_main {
    font-size: 40px;
    font-weight: 600;
    float: left;
    display: flex;
    margin-bottom: 45px;
    width: 100%;
    justify-content: center;
}

.heading_main h2 strong.small {
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.heading_small h4 {
    color: #27282b;
    font-size: 40px;
    font-weight: 600;
    border-bottom: solid #ddd 1px;
    margin-bottom: 28px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}	

.pogoSlider-slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 45% 80%;;
}

.navbar-btn {
  top: -10px;
  bottom: 10px;
  right: 15px;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
}

#sidebarCollapse img {
  padding-top: 0px;
  width: 120px; }

}


@media (min-width: 992px) and (max-width: 1600px) {

  # img { width: 80px; }

.logo_main img {
  width: 280px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.pogoSlider-slide {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 45% 80%;;
}

.navbar-btn {
  position: absolute;
  right: 5px;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
}

.countdown{
  height: 285px;
}

.top-header .navbar .navbar-collapse ul li a {
  font-size: 17px;
}

.lbox-details h2{
  font-size: 26px;
}

.contact_bt {
  margin-top: 25px;
}

.slide_text h3 {
  padding-left: 20px;
  font-size: medium;
  line-height: 20px !important;
}

.social_icon {
  margin-bottom: 30px;
}

.top-header .navbar .navbar-collapse ul li a {
  padding: 7px 15px;
}

.team_member_img .social_icon_team {
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
}

.heading_main h2 {
  font-size: 35px;
}

.services_blog h4 {
  font-size: 25px;
}

.contact_form {
  margin: 142px -205px 0;
}

.slide_text {
  margin-top: 150px;
}

}

/* only small tablets */
 @media (min-width: 770px) and (max-width: 900px) {

.top-header .navbar .navbar-collapse ul li a{
         padding: 5px 0 0 15px;
}

.logo_main img {
    width: 280px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.pogoSlider-slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 45% 80%;;
}

.navbar-btn {
    position: absolute;
    right: 5px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}


#sidebarCollapse img {
    width: 90px;
}

.navbar-btn {
    top: -10px;
    bottom: 10px;
    right: 15px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}


.about-img{
    margin-bottom: 30px;
    margin-top: 30px;
}

.gallery-box ul li{
    width: 33.33%;
}

.top-header{
    position: relative;
}

     .lbox-details{
         display: block;
         position: relative;
         width: 100%;
    }
     .countdown #timer div#days, .countdown #timer div#hours, .countdown #timer div#minutes, .countdown #timer div#seconds{
         position: inherit;
         margin: 12px 0px;
    }
     .lbox-details::before{
         background: rgba(0,0,0,0.9);
    }
     figure.effect-service h2{
         font-size: 12px;
    }
    .top-header {
      background-image: none;
      background-color: #fff;
    }
    .search-box {
        top: 12px;
        right: 15px;
    }


  .search-btn {
         background: #111;
    }
     .search-box:hover .search-txt {
         width: 240px;
         padding: 0 10px;
         border: solid #000 1px;
         height: 41px;
    }
     .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
         color: #0892fd;
    }
     .slide_text p {
         display: none;
    }
     .contact_bt {
         margin-top: 10px;
    }

    # img { width: 70px; }

    #demo .img-responsive {
       width: 100%;
       margin-bottom: 30px;
    }
	.carousel a.carousel-control-prev {
      left: 20px;
    }
	.carousel a.carousel-control-next {
      right: 20px;
    }

	.team_member_img img {

    border: solid #ece9e2 10px;
    border-radius: 100%;
    width: 210px;
    height: 210px;

    }

    .team_member_img .social_icon_team {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #team_slider p {
      padding: 0;
    }

.header_bottom::after {
    width: 50%;
    display: block;
    right: 0;
    content: "";
    background: #ff880e;
    height: 66px;
    position: absolute;
    top: 0;
    display: none;
}

.header_bottom {
    float: left;
    width: 100%;
    position: relative;
    bottom: 0;
}

.menu_orange_section::after {
    width: 70px;
    height: 66px;
    position: relative;
    content: "";
    display: block;
    background: #ff880e;
    left: -50px;
    transform: skew(30deg);
    display: none;
}
.menu_orange_section {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px;
}
.site_information li:nth-child(1),
.site_information li:nth-child(2) {
    visibility: hidden;
}

.site_information ul {
    float: right;
    width: 95%;
    padding: 21px 0 0;
}
.social_icon {
    margin-bottom: 30px;
}

.heading_main h2 {
    font-size: 30px;
}
.heading_main h2::after {
    margin-top: 10px;
}
.services_blog h4 {
    font-size: 20px;
    min-height: 70px;
    line-height: 70px !important;
}
.about_bg .text_align_right_img img {
    width: 100%;
}

    .service_pro_section {
       padding: 30px 25px;
    }
    .contact_form {
       padding: 45px 35px 65px;
       margin: 142px 35px 0;
    }

   .slide_text h6 {
       font-size: 20px;
    }

   .slide_text h3 {
       width: 1000px;
       top: 392px;
       left: 5px;
       line-height: 1.6 !important;
       font-size: 30px;
    }
    .slide_text h4 {
      font-size: 52px;
      position: relative;
      top: 35px;
      left: 35px;
    }
    .slide_text .readmore_bt {
      margin-top: 0;
    }
    .feature_box {
      margin-bottom: 30px;
    }
    .dash_bg::after {
      bottom: 58px;
    }
    .form_section {
    padding: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_blog, .footer_blog_last {
    margin-top: 20px;
}

}


}

@media (min-width: 500px) and (max-width: 780px) {

#sidebarCollapse img {
  width: 75px;

}

header #sidebarCollapse img {
    top: 20px;
    right: 0;
}

.navbar-btn {
    top: -10px;
    bottom: 10px;
    right: 15px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}


.logo_main img {
    width: 200px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 10px;
 }

 .heading_main h3 {
     margin-top: 5px;
     margin-bottom: 0px;
     font-size: 30px;
     font-weight: 600;
     padding-left: 0px;
 }

 .heading_small h4 {
     color: #27282b;
     font-size: 30px;
     font-weight: 600;
     border-bottom: solid #ddd 1px;
     margin-bottom: 3px;
     margin-top: 12px;
     margin-left: 0px;
     padding-bottom: 15px;
     padding-left: 0px;
 }



.footer_blog_last ul li {
    font-size: auto;
    margin-right: 20px;
}

}

/* mobile or only mobile */

@media  (min-width: 280px) and (max-width: 500px) {

    .site_information {
         float: left;
         width: 100%;
    }


#sidebarCollapse img {
  width: 50px;
}

#sidebarCollapse strong {
  display: none;
}

.navbar-btn {
    top: -10px ;
    bottom: 10px;
    right: -10px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

.logo_main img {
  width: 135px;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.heading_main h2 {
  font-size: 26px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.heading_main h2 strong.small {
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.heading_main h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  padding-left: 0px;
}

.heading_small h4 {
    color: #27282b;
    font-size: 25px;
    font-weight: 600;
    border-bottom: solid #ddd 1px;
    margin-bottom: 3px;
    margin-top: 12px;
    margin-left: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.pogoSlider--navBottom .pogoSlider-nav {
  width: 100%;
  left: 85%;
  bottom: -3px;
}


.pogoSlider-nav-btn {
    background: #272f43;
    width: 2px;
    height: 10px;
    border-radius: 100%;
}

.pogoSlider--navLeft .pogoSlider-nav li,
.pogoSlider--navRight .pogoSlider-nav li {
	display: block;
	margin: 3px 0
}

.pogoSlider-slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 45% 80%;
}

    .slide_text {
     /* margin-top: 30%; */
     display:none;
    }


    .top-header #navbar-wd {
         padding-right: 0;
    }


     .heading_main {
         float: left;
         width: 100%;
         margin-bottom: -10px;
    }

     .heading_main p.large {
         display: none;
    }

     h3.small_heading {
         font-size: 20px;
         font-weight: 600;
         line-height: normal;
         margin-top: 25px;
    }
     #demo .img-responsive {
         margin: 10px 0;
         width: 100%;
    }

    .team_member_img img {

    border: solid #ece9e2 20px;
    border-radius: 100%;
    width: 280px;
    height: 280px;
    }

  .team_member_img {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    float: none;

   }

.text_align_right_img img {
    right: 0;
}

.half_bg_theme::after {
    display: none;
}

.full.text_align_right_img {
    margin-bottom: 25px;
}

.service_pro_section {
    padding: 15px;
}

.services_list {
    margin-top: 25px;
}

.text_align_right {
    margin-top: 15px;
}

.story_section .white_bg {
    padding: 40px 0px;
}

.story_section .full.text_align_right_img {
    margin-top: 25px;
}

.contact_form {
    margin: 0;
}

.heading_small h4 {
    margin-top: 0;
}

.readmore_bt {
    margin-bottom: 45px;
}

.form_section {
    float: right;
    padding: 20px 0 0;
    width: 100%;
}

form.news_submit_form .field input[type="email"] {
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    border: none;
    float: left;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

form.news_submit_form .field button {

    height: 60px;
    width: 210px;
    border: none;
    float: none;
    background: #ef4023;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 auto 0;
    display: block;
    position: relative;
    top: 20px;

}


.footer_blog_last {
    margin-top: 35px !important;
    float: left;
}

}

/* small mobile or only small mobile */
@media  (min-width: 150px) and (max-width: 290px) {

#sidebarCollapse img {
  width: 45px;
}

#sidebarCollapse strong {
  display: none;
}

button #sidebarCollapse {
 left: 45px;
}

p {
    margin-top: 5px;
    margin-bottom: 1rem;
    margin-left: 3px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #272f43;
}

.navbar-btn {
    top: -10px ;
    bottom: 10px;
    right: -10px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

.logo_main img {
  width: 110px;
  height: inherit;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.heading_main {
    float: left;
    display: flex;
    margin-bottom: 3px;
    width: 100%;
}

.heading_main h2 strong.small {
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.pogoSlider--navBottom .pogoSlider-nav {
  left: 75%;
  width: 100%;
  bottom: -4px;
}

.pogoSlider-nav-btn {
    background: #272f43;
    width: 2px;
    height: 10px;
    border-radius: 100%;
}

.pogoSlider--navLeft .pogoSlider-nav li,
.pogoSlider--navRight .pogoSlider-nav li {
	display: block;
	margin: 3px 0
}

.pogoSlider-slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 45% 100%;
}

.heading_main h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  padding-left: 5px;
}

.heading_small h4 {
    color: #27282b;
    font-size: 25px;
    font-weight: 600;
    border-bottom: solid #ddd 1px;
    margin-bottom: 3px;
    margin-top: 12px;
    margin-left: 0px;
    padding-bottom: 15px;
    padding-left: 0px;

}

.layout_padding {
  width: 100%;
  padding-bottom: 0px;
}


}
